body, html{
    height:100%;
    margin:0;
    padding:0;
}

.nav-logo{
  float: left;
  padding: 5px;
  /* border: 2px solid red; */
  padding-top:7px;
  padding-left: 7px;
}

.topnav {
    /* background-color: #0b0b10; */
    overflow: hidden;
    background-color: #333;
  }

  .topnav a{
    margin:0;
    margin-top: 12px;
    float: right;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
  }

  .topnav a:hover {
    text-shadow: #00fff9 3px 3px 1px;
  }

.introduction{
  height: 125vh;
  background-color:#232c38;
}

.intro-container{  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.intro-column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
}

.intro-pic{
  /* border: 3px solid red; */
  position: absolute;
}

.intro-pic img{
  width: 73%;
  margin-left: 35%;
  filter: sepia(10%);
  box-shadow: none;
  transition: box-shadow 0.2s;
}

.intro-pic img:hover{
  box-shadow: 11px 11px #77f8f3;
}

.intro-box{
  /* border: 3px solid green; */
  background-color:#e5e5e5;
  position: absolute;
  min-height: 300px;
  max-width: 500px;
  padding: 30px;
  margin-right: 30%;
  margin-top: 40%;
  margin-bottom: 20%;
  /* box-shadow: 5px 3px #77f8f3; */
}

.intro-box h1{
  color:#0b0b10;
}

.intro-box p{
  color:#0b0b10;
}

.first{
  height:100%;
  background-image: url('backgroundme.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
}

.first img{
  margin-top: 30px;
  width: 140px;
  opacity: 0.8;
}

.leftt{
  float: left;
  width: 45%;
  height: 100%;
  position: relative;
  color: #e5e5e5;
}

.left-content{
  padding-left: 20%;
  padding-top: 30%;
  padding-right: 10%;
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
}

.left-content h1{
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  font-size: 45px;
  text-shadow: 5px 2px #575964;
}

.one{
  position: relative;
  z-index:1;
}

.one:after{
  content:"";
  position:absolute;
  border: 5px solid #77f8f3;
  width: 210px;
  z-index:-1;
  top: 76%;
  left: 7%;
}


.rightt{
  height: 100%;
  float: right;
  width: 55%;
  position: relative;
}

.rightt img{
  width: 400px;;
  position: relative;
  left: 50%;
}

.right-content{
  position: absolute;
}

.first-description-inside{
  padding-top: 150px;
  padding-left: 130px;
  font-size: 30px;
  color: #232c38;
  font-family: 'Fira Sans', sans-serif;
}

.first-description-inside h2{
  margin: 0 auto;
  font-size: 55px;
}

.first-description-inside p {
  font-size: 18px;
  width: 450px;
}

.first-description-inside img{
  width: 150px;
  margin-left: -30px;
}

#janecontent{
  position: relative;
  border: 3px solid green;
  height: 40vh;
}


.experience{
  /* border: 3px solid red; */
  height: 100%;
  overflow: auto;
  position: relative;
}

.three{
    background:#0c0d13;
}

.three h1{
    font-size:45px;
    color:#77f9f2;
}

.three p{
    color:#c5c6c8;
}

#skills_hr{
  border: 1px solid #77f8f3;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.skills img{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.column{
    float:left;
    width:33.33%;
    text-align:center;
}
.column p{
    padding:40px;
    padding-top:0;
}

.column img{
    width:40%;
    margin:0 auto;
}

.column1{
    float:left;
    width:50%;
    text-align:center;
}

.column1 img{
    padding-top:30px;
    width:95%;
    padding-left:20%;
}


#description1{
    padding-top:30px;
    margin-left:10%;
    padding-right:20%;
    text-align:left;
}

#description1 h3{
    color:#c5c6c8;
    font-weight:800;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;

}

#description1 p{
    color:#c5c6c8;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.row1{
    margin-top: 70px;
}

.row1:after{
    content:"";
    display:table;
    clear:both;
}

.row2{
    margin-top:10px;
}

.row2:after{
    content:"";
    display:table;
    clear:both;
}

#col2-left{
  padding-top:30px;
  margin-left: -10px;
  font-size: 12px;
  font-weight: bold;
}

.col2{
    float:left;
    width:50%;
    text-align:center;
    color:#0d0d13;
    font-family: 'Nunito', sans-serif;

}

.col2 p{
    text-align:left;
    font-size: 15px;
}


.row:after{
    content:"";
    display:table;
    clear:both;
}

.parallax{
    background-image:url("me2.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    position:relative
}

.parallax2{
    background-image:url("kedge.jpg");
    background-repeat:no-repeat;
    filter: brightness(80%);
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    height:60%;
    width:100%;
    margin:0;
    padding:0;
    position:relative
}

.parallax3{
    background-image:url("interns.jpg");
    filter: brightness(70%);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    height:45%;
    width:100%;
    margin:0;
    padding:0;
    position:relative
}

#h1{
    color:#77f9f2;
    /* border: 3px solid red; */
    padding-top:50px;
    padding-bottom: 30px;
    text-align:center;
    font-size:45px;
    margin-top:0px;
    font-family: 'Fira Sans', sans-serif;
}
.parallax{
    color:white;
    margin-top:0px;
    font-family: 'Fira Sans', sans-serif;
    font-size:80px;
    position:relative;
}

.parallax h2{
    margin:0;
    text-align:center;
    padding-top:225px;
}

.about-me{
    height:95vh;
    background-color: #232c38;
    margin:0 auto;
    overflow-y: scroll;
}
#aboutme_hr{
  border: 2px solid #77f8f3;
}

.icons{
    position:relative;
    margin:0 auto;
    color:#78f9f2;
    overflow: hidden;
}


#github{
    margin-right:20px;
}

#github:hover{
    color:#c5c6c8;
}

#linked{
    margin:20px;
}

#linked:hover{
    color:#c5c6c8;
}

#resume{
    margin:20px;
}

#resume:hover{
    color:#c5c6c8;
}

.section1{
    height:150vh;
    background:#15202b;
    position:relative;
    text-align:center;
} 

.box{
    margin-top:30px;
    background:#c5c6c8;
    height:80vh;
    display:inline-block;
    max-width:150vh;
    position:relative;
}

.box2{
    position:relative;
}

.section2{
    background-color:#232c38;
    height:150vh;
}

.container1{
  clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    /* background-color: green; */
}

.container2{
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
  /* background: #fff689; */
}

.col-1{
  float: left;
  width: 52%;
  position: relative;
  left: 55%;
  overflow: hidden;
  /* border: 2px solid red; */
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding-left: 2%;
}

.col-1-desc{
  /* border: 2px solid; */
  width: 90%;
  margin: auto;
  text-align: left;
  font-family: 'Nunito', sans-serif;
}

.col-1-desc h3{
  font-size: 18px;
  color: #c5c6c8;
}

.col-1-desc h1{
  font-size: 25px;
  color: #c5c6c8;
}

.col-1-desc p{
  font-size: 15px;
  color: #c5c6c8;
}

.col-2{
  float: left;
  width: 40%;
  position: relative;
  left: 57%;
  padding-right: 3%;
  overflow: hidden;
  text-align: center;
  /* border: 3px solid green; */
  margin-bottom: 60px;
}

.col-2-desc{
  /* border:5px solid; */
  width: 60%;
  margin: auto;
  position: relative;
}

.col-1-desc p{
  margin: 0 auto;
}

#desc-p{
  /* box-shadow: 5px 5px #78f9f2;
  border: 1px solid; */
  padding: 5px;
  margin-bottom: 10px;
}

.col-1-desc h1{
  margin: 0 auto;
}

.col-1-desc h3{
  margin: 0 auto;
}

* {
    box-sizing: border-box;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #c5c6c8;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #0b0b10;
    border: 4px solid #00fff5;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #c5c6c8;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #c5c6c8;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #c5c6c8;
    border-width: 10px 10px 10px 0;
    border-color: transparent #c5c6c8 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 10px 30px;
    background-color: #c5c6c8;
    position: relative;
    border-radius: 6px;
    /* border: 3px solid red; */
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

.project{
  background-color: black;
  height: 100vh;
}