body, html{
    height:100%;
    margin:0;
    padding:0;
}

.topnav {
    background-color: #0b0b10;
    overflow: hidden;
  }
  .topnav p{
     color: #00fff9;
  }

  .topnav p{
    margin:0;
    float: right;
    color: #00fff9;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
  }

  .topnav p:hover {
    background-color: #ddd;
    color: black;
  }

.three{
    background:#0c0d13;
    height:70vh;
}

.three h1{
    font-size:45px;
    color:#77f9f2;
}

.three p{
    color:#c5c6c8;
}


.column{
    float:left;
    width:33.33%;
    text-align:center;
}
.column p{
    padding:40px;
    padding-top:0;
}

.column img{
    width:40%;
    margin:0 auto;
}

.column1{
    float:left;
    width:50%;
    text-align:center;
}

.column1 img{
    padding-top:30px;
    width:80%;
    padding-left:20%;
}

#description1{
    padding-top:30px;
    margin-left:10%;
    padding-right:20%;
    text-align:left;
}

#description1 h3{
    color:#c5c6c8;
    font-weight:800;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;

}

#description1 p{
    color:#c5c6c8;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.row1{
    margin-top:80px;
}

.row1:after{
    content:"";
    display:table;
    clear:both;
}

.row{
    margin-top:80px;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

.parallax{
    background-image:url("me2.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    position:relative
}

.parallax2{
    background-image:url("work.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    height:66%;
    width:100%;
    margin:0;
    padding:0;
    position:relative
}

.parallax3{
    background-image:url("project.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    height:80%;
    width:100%;
    margin:0;
    padding:0;
    position:relative
}

/* .parallax p{
    color:white;
    font-family: 'Nunito', sans-serif;
    font-weight:200;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    position:absolute;
    font-size:35px;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallax h1{
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size:55px;
    margin-top:-10px;
    position:absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#h1{
    color:#77f9f2;
    padding-top:50px;
    text-align:center;
    font-size:45px;
    margin-top:0px;
    font-family: 'Fira Sans', sans-serif;
}
.parallax{
    color:white;
    margin-top:0px;
    font-family: 'Fira Sans', sans-serif;
    font-size:80px;
    position:relative;
}

.parallax h2{
    margin:0;
    text-align:center;
    padding-top:225px;
}

.arrow{
    width:100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top:300px;
}


.about-me{
    height:95vh;
    background-color: #232c38;
    margin:0 auto;
    overflow-y: scroll;
}


.icons{
    position:relative;
    margin:0 auto;
    color:#78f9f2;
    overflow: hidden;
}
#github{
    margin-right:20px;
}

#github:hover{
    color:#c5c6c8;
}

#linked{
    margin:20px;
}

#linked:hover{
    color:#c5c6c8;
}

#resume{
    margin:20px;
}

#resume:hover{
    color:#c5c6c8;
}

.section1{
    height:150vh;
    background:#15202b;
    position:relative;
    text-align:center;
} 

.box{
    margin-top:30px;
    background:#c5c6c8;
    height:80vh;
    display:inline-block;
    max-width:150vh;
    position:relative;
}

.box2{
    position:relative;
    
}

.section2{
    height:100vh;
    background-color:#efefef;
}

.navbar {
    background:transparent; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
  }
  
  .navbar a:hover {
    background-color:#5d4474;
    color: white;
  }
